.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.weather-app {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.071);
  border-radius: 25px;
  padding: 30px 30px;
  margin: 40px auto;
}
