.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.071);
  border-radius: 25px;
  padding: 30px;
  margin: 0px auto;
}
