h1 {
  font-weight: 800;
  display: block;
  margin-bottom: 0;
  font-size: 2rem;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.overview {
  color: #a13670;
  font-size: 1.5rem;
  padding: 6% 10%;
  line-height: 1.2;
}
