.forecast {
  color: #ffa45e;
  margin-top: 25px;
  text-align: center;
}

.box-day {
  background-color: #ffa45e60;
  border-radius: 15px;
  margin: 10px 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
