button.btn {
  background-color: #9a77cf;
  color: #ffffff;
  border-color: #9a77cf;
  margin-right: 5px;
}

button.btn:hover {
  background-color: #543884;
  color: #ffffff;
  border-color: #543884;
  transition: ease-in-out 250ms;
}

.search {
  display: block;
  margin: 0 auto;
  padding: 0 11%;
}
