h1 {
  font-weight: 800;
  display: block;
  margin-bottom: 0;
  font-size: 2rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h3 {
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span.units {
  color: #543884;
}

.img-weather {
  text-align: center;
  background-color: #cc669eb0;
  color: #d685b1;
  border-radius: 25px;
  padding: 13% 0;
  margin: 0 5%;
  margin-right: 0;
}

.data-weather {
  color: #9a77cf;
  text-align: center;
  padding: 10% 0;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
}

.icon-data {
  margin: 3px;
}

#temperature {
  font-size: 5rem;
}

.links {
  color: #9a77cf;
  text-decoration: none;
}

.links:hover {
  color: #543884;
  text-decoration: none;
  transition: ease-in-out 250ms;
}

.date-place {
  color: #a13670;
  font-size: 1.5rem;
  padding: 6% 10%;
  line-height: 1.2;
}

.btn {
  font-weight: 700;
  background-color: #9a77cf;
  color: #ffffff;
  border-color: #9a77cf;
  margin-right: 5px;
}

.btn:hover {
  background-color: #543884;
  color: #ffffff;
  border-color: #543884;
  transition: ease-in-out 250ms;
}

.search {
  display: block;
  margin: 0 auto;
  padding: 0 11%;
}

.icon-search {
  margin: 3px;
}
