h3 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span.units {
  color: #543884;
}

.img-weather {
  text-align: center;
  background-color: #cc669eb0;
  color: #d685b1;
  border-radius: 25px;
  padding: 13% 0;
  margin: 0 5%;
  margin-right: 0;
}

.data-weather {
  color: #9a77cf;
  text-align: center;
  padding: 10% 0;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
}

.icon-data {
  margin: 3px;
}

#temperature {
  font-size: 5rem;
}

button.links {
  background-color: #9a77cf;
  color: #ffffff;
  border-color: #9a77cf;
  margin-right: 5px;
  margin-left: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-top: 1px;
}

button.links:hover {
  background-color: #543884;
  color: #ffffff;
  border-color: #543884;
  transition: ease-in-out 250ms;
}
