h3 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

span.units a {
  color: #543884;
}

.img-weather {
  text-align: center;
  background-color: #cc669eb0;
  color: #fff;
  border-radius: 25px;
  padding: 13% 0;
  margin: 0 5%;
  margin-right: 0;
}

.data-weather {
  color: #9a77cf;
  text-align: center;
  padding: 10% 0;
}

.units {
  position: relative;
  top: -42px;
  padding-left: 5px;
}

.icon-data {
  margin: 3px;
}

#temperature {
  font-size: 5rem;
}
